<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Restaurant - F515X1090</title>
    <link rel="shortcut icon" href="./images/icon/favicon.ico" type="image/x-icon">
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                RestaurAzis
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/azis-nur-fajar-230928224/">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Welcome To Restaurant F515X1090</h1>
            <p class="hero__tagline">Please Choose Your Favorite Food </p>
            <a href="#main-content" class="btn">Read More</a>
        </div>
    </div>
    <main id="main-content">
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Katalog Restaurant</h1>
                <div class="posts" id="katalog-restaurant">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h3>Copyright © 2022 Submission Katalog Restoran 1</h3>
    </footer>
</body>

</html>